---
layout: base.njk
permalink: /merch/index.html
title: Storefront
---

<header class="section-head">
  <h1>Storefront</h1>
  <p class="section-head__note">
    Items are produced in support of the Archive's conservation programme.
    Proceeds fund reel stabilisation, offsite storage, and correspondence.
  </p>
</header>

<ul class="storefront">
  {% for item in collections.merch %}
    <li class="product">
      <a class="product__link" href="{{ item.url | url }}">
        <span class="product__frame">
          <img src="{{ item.data.image | url }}" alt="{{ item.data.title }}"
               width="800" height="600" />
        </span>
        <span class="product__title">{{ item.data.title }}</span>
      </a>
      <span class="product__meta">{{ item.data.specs }}</span>
      <span class="product__price">{{ item.data.price }}</span>
    </li>
  {% endfor %}
</ul>

<p class="caption">
  Shipping is calculated at checkout. The Archive does not ship to vessels
  under way.
</p>
